.container_banner_ux {
    background: radial-gradient(197.56% 596.16% at 0.65% 4.05%, #fff8b8 2.59%, rgb(255 180 144) 15.64%, #da8fff 40.09%, #58a0f9 75%);
    background-blend-mode: darken;
    border-radius: 16px;
    width: 100%;
    width: 1600px;
    height: 400px;
    z-index: 1;
    .frame_banner_ux {
        max-width: 1600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        padding: 30px;
        gap: 25px;
        .img_ux_1 {
            position: relative;
            max-width: 440px;
            margin-top: 15px;
            z-index: 20;
        }
        .img_ux_2 {
            position: relative;
            max-width: 500px;
            z-index: 20;
        }
        .p_banner_ux{
            font-weight: 500;
            font-size: 140px;
            line-height: 100%;
            text-align: center;
        }
    }
}

.about_project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 16px;
    gap: 25px;
    .about_project_m{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 25px;
        width: 1200px;
        .nps {
            max-width: 1140px;
            border-radius: 16px;
        }
        .cont_project_m {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .bold_p {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
            }
            .info_proj_m {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
            }
        }
    }
}

.container_banner_it {
    background: radial-gradient(60.29% 93.32% at 63.62% 56.26%, rgba(50, 230, 255, 0.6) 0%, rgba(205, 219, 255, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(82.25% 239.53% at 21.28% 59.9%, rgba(39, 100, 255, 0.5) 0%, #D6E7FF 71.96%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 16px;
    width: 100%;
    max-width: 1600px;
    height: 400px;
    z-index: 1;
    .frame_banner_it {
        width: 1600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        padding: 30px;
        gap: 25px;
        .img_it_1 {
            position: relative;
            max-width: 540px;
            margin-top: 15px;
            z-index: 20;
        }
        .img_it_2 {
            position: relative;
            max-width: 540px;
            z-index: 20;
        }
        .p_banner_it{
            font-weight: 500;
            font-size: 140px;
            line-height: 100%;
            text-align: center;
        }
    }
}


@media only screen and (max-width: 420px) {

    .container_banner_ux {
        background: radial-gradient(197.56% 596.16% at 0.65% 4.05%, #fff8b8 2.59%, rgb(255 180 144) 15.64%, #da8fff 40.09%, #58a0f9 75%);
        background-blend-mode: darken;
        display: flex;
        justify-content: center;
        border-radius: 16px;
        width: 100%;
        width: 340px;
        height: 260px;
        z-index: 1;
        .frame_banner_ux {
            max-width: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 260px;
            .img_ux_1 {
                display: none;
                position: relative;
                max-width: 440px;
                margin-top: 15px;
                z-index: 20;
            }
            .img_ux_2 {
                display: none;
                position: relative;
                max-width: 500px;
                z-index: 20;
            }
            .p_banner_ux{
                font-weight: 500;
                font-size: 64px;
                line-height: 100%;
                text-align: center;
            }
        }
    }    

    .about_project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
        border-radius: 16px;
        gap: 25px;
        .about_project_m{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            gap: 25px;
            width: 340px;
            .nps {
                max-width: 300px;
                border-radius: 16px;
            }
            .cont_project_m {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                .bold_p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 130%;
                }
                .info_proj_m {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                }
            }
        }
    }
    .container_banner_it {
        background: radial-gradient(60.29% 93.32% at 63.62% 56.26%, rgba(50, 230, 255, 0.6) 0%, rgba(205, 219, 255, 0.6) 100%);
        background-blend-mode: darken;
        display: flex;
        justify-content: center;
        border-radius: 16px;
        width: 100%;
        width: 340px;
        height: 260px;
        z-index: 1;
        .frame_banner_it {
            max-width: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 260px;
            .img_it_1 {
                display: none;
                position: relative;
                max-width: 440px;
                margin-top: 15px;
                z-index: 20;
            }
            .img_it_2 {
                display: none;
                position: relative;
                max-width: 500px;
                z-index: 20;
            }
            .p_banner_it{
                font-weight: 500;
                font-size: 64px;
                line-height: 100%;
                text-align: center;
            }
        }
    }
}


