.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f7f7f7;
    .header {
        z-index: 15;
        position: fixed;
        top: 0%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(25px);
        padding: 10px;
        .header_about {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 460px;
            .header_cont {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
            }
        }
    }
}

.header_link {
    text-decoration: none;
}
.radio_header {
    appearance: none;
}


.header_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background: $back2;
    border-radius: 16px;
}

.header_ux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
}

.header_ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
}

.header_code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
}

.header_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
}