

.main {
    margin-top: 110px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title_main {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;
        margin-bottom: 25px;
    }
    .container_main-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        gap: 40px;
        .sub_cont {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            width: 1200px;
            .projectPage {
                width: 1200px;
                flex-wrap: wrap;
                display: flex;
                gap: 20px;
                justify-content: center;
            }
            .title_cont {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 130%;
            }
            .about_me {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                background: #FFFFFF;
                border-radius: 16px;
                gap: 25px;
                .person_main {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 30px;
                    gap: 25px;
                    width: 532px;
                    height: 561px;
                }
                .info_main {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 30px;
                    width: 643px;
                    height: 560px;
                    background: #FFFFFF;
                    border-radius: 16px;
                    .container_info-1 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        padding: 0px;
                        gap: 10px;
                        .info_p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 130%;

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .main {
        margin-top: 110px;
        width: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title_main {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 110%;
            margin-bottom: 25px;
        }
        .container_main-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px;
            gap: 40px;
            .sub_cont {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;
                width: 340px;
                .projectPage {
                    width: 340px;
                    flex-wrap: wrap;
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                }
                .title_cont {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 130%;
                }
                .about_me {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: #FFFFFF;
                    border-radius: 14px;
                    .person_main {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 30px;
                        gap: 25px;
                        width: 340px;
                        height: 910px;
                    }
                    .info_main {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 30px;
                        width: 340px;
                        height: 1160px;
                        background: #FFFFFF;
                        border-radius: 16px;
                        .container_info-1 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
    
                            padding: 0px;
                            gap: 10px;
                            .info_p {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 130%;
    
                            }
                        }
                    }
                }
            }
        }
    }    
}


.container_info-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    .container_info-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
        .container_info-dsgn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            width: 584px;
        }
        .container_info-dsgn-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            width: 584px;
        }
        .container_info-attr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            background: $back1;
            border-radius: 16px;
            width: 584px;
            .info_p {
                @include main_type;
            }
        }
    }
}

@media only screen and (max-width: 420px){
    .container_info-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 15px;
        .container_info-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 15px;
            .container_info-dsgn {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0px;
                width: 340px;
                height: 200px;
            }
            .container_info-dsgn-2 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0px;
                width: 340px;
                height: 220px;
            }
            .container_info-attr {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                background: $back1;
                border-radius: 16px;
                width: 260px;
                .info_p {
                    @include main_type;
                }
            }
        }
    }
}


.link {
    text-decoration: none;
    color: blue;
}

.container_person-inf {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.container_person-job {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}


.photo {
    width: 275px;
    height: 281px;
    overflow: hidden;
    border-radius: 16px;
}

.img_person {
    object-fit: cover;
    width: auto;
    height: 250%;
    margin-left: -115px;
    margin-top: -120px;
}
