*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Jost', sans-serif;
    line-height: 1.6;
    color: #333333;
}

.bold_p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

$back1: rgba(127, 118, 231, 0.05);
$back2: rgba(127, 118, 231, 0.2);
$back3: rgba(127, 118, 231, 0.5);
$main_color: #5552FF;
$typo_color: #333333;

@mixin button_header{
    padding: 8px 20px;
    border-radius: 8px;
    background-color: $back2;
}

@mixin main_type {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

@mixin button_header_off{
    padding: 8px 20px;
    border-radius: 8px;
    background-color: $back1;
}

@import './index.scss';
@import './header.scss';
@import './job-area.scss';
@import './info-area.scss';
@import './proj-area.scss';
@import './banner.scss';