.project_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    .cont_head_project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
        gap: 20px;
        background: #FFFFFF;
        border-radius: 16px;
        max-width: 585px;
        .head_project {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 5px;
            .title_project {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 10px;
                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 130%;
                }
                .type_project {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 26px;
                    background: #F4B3B3;
                    border-radius: 60px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: linear .1s;
                    &:hover {
                        background: #f17979;
                    }
                }
                .type_project_false {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 26px;
                    background: #a3eeaf;
                    border-radius: 60px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: linear .1s;
                    &:hover {
                        background: #50e068;
                    }
                }
            }
            .proj_subTitle {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
            }
        }
    }
}



.foot_project {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 25px;
    .img_project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        z-index: 1;
        width: 378px;
        height: 260px;
        border-radius: 16px;
        img {
            object-fit: cover;
            position: relative;
            z-index: 2;
            width: auto;
            height: 250%;
        }
    }
}

.feat_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 122px;
    height: 260px;
    .feat_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        .feat_project {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 122px;
            height: 76px;
            background: $back1;
            border-radius: 16px;
            cursor: pointer;
            transition: linear .1s;
            &:hover {
                background: $back2;
            }
        }
    }
}

.feat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
    }
}

.feat_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        margin-left: 41px;
    }
}

.lottie_project{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-right: 38px;
    width: 44px;
}

.svg_active_proj {
    display: none;
}

.svg_inactive_proj {
    display: block;
}



.modal_proj {
    position: absolute;
    transform: translate(134px, -92px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    padding: 15px;
    gap: 15px;
    width: 320px;
    border-radius: 16px;
    background: rgba(255, 128, 128, 0.7);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    transition: linear .15s;
    .title_modal_proj{
        background: #FFFFFF;
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
        }
    }
}

.button_proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    background: #5552FF;
    border-radius: 100px;
    cursor: pointer;
}

.title_button_proj {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

