.container_banner {
  background: radial-gradient(74.08% 1695.93% at 12.04% 80.92%, rgba(175, 193, 255, 0.2) 0%, rgba(112, 0, 255, 0.2) 100%), linear-gradient(86.99deg, #BAC5FF 0.2%, #EFCDFF 99.48%);
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}
.container_banner img {
  max-width: 1620px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
  transform: translate(-250px, -404px);
}
.container_banner .frame_banner {
  max-width: 1220px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 30px;
  gap: 25px;
  z-index: 10;
}
.container_banner .frame_banner .p_banner {
  font-weight: 500;
  font-size: 58px;
  line-height: 110%;
  text-align: center;
}

.button_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 36px;
  background: #5C59FF;
  border-radius: 99px;
  cursor: pointer;
}

.title_button_banner {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}