.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f7;
}
.container .header {
  z-index: 15;
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 6px;
}
.container .header .header_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}
.container .header .header_about .header_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header_link {
  text-decoration: none;
}

.radio_header {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  background: rgba(176, 92, 255, 0.1);
  border-radius: 16px;
}

.header_ux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.header_ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.header_code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.header_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}