* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
  color: #333333;
}

.bold_p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.main {
  margin-top: 110px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .title_main {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  margin-bottom: 25px;
}
.main .container_main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 25px;
}
.main .container_main-1 .about_me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
}
.main .container_main-1 .about_me .person_main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 30px;
  gap: 25px;
  width: 532px;
  height: 561px;
  background: #FFFFFF;
  border-radius: 16px;
}
.main .container_main-1 .about_me .info_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 643px;
  height: 560px;
  background: #FFFFFF;
  border-radius: 16px;
}
.main .container_main-1 .about_me .info_main .container_info-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.main .container_main-1 .about_me .info_main .container_info-1 .info_p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.container_info-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.container_info-2 .container_info-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.container_info-2 .container_info-3 .container_info-dsgn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 584px;
  height: 26px;
}
.container_info-2 .container_info-3 .container_info-dsgn-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 584px;
}
.container_info-2 .container_info-3 .container_info-attr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: rgba(127, 118, 231, 0.05);
  border-radius: 16px;
  width: 584px;
}
.container_info-2 .container_info-3 .container_info-attr .info_p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: blue;
}

.container_person-inf {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.container_person-job {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.photo {
  width: 275px;
  height: 281px;
  overflow: hidden;
  border-radius: 16px;
}

.img_person {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 250%;
  margin-left: -115px;
  margin-top: -120px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f7;
}
.container .header {
  z-index: 15;
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 10px;
}
.container .header .header_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}
.container .header .header_about .header_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header_link {
  text-decoration: none;
}

.radio_header {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  background: rgba(127, 118, 231, 0.2);
  border-radius: 16px;
}

.header_ux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.header_ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.header_code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.header_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
  border-radius: 16px;
  width: 172px;
  height: 115px;
  background: rgba(127, 118, 231, 0.05);
}
.job .job_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.job .job_type {
  font-weight: 500;
  font-size: 14px;
}
.job .job_p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.job .job_p .jop_p_bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}
.job .job_p .jop_p_light {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.container_person-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.container_person-2 .content_person {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;
  background: rgba(127, 118, 231, 0.05);
  border-radius: 8px;
  width: 275px;
  height: 40px;
}
.container_person-2 .content_person p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.portfolio_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.proj_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
  background: #FFFFFF;
  border-radius: 16px;
}
.proj_area img {
  width: 530px;
}
.proj_area .proj_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  width: 530px;
  border-radius: 16px;
}
.proj_area .proj_cont .title_proj {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.proj_area .proj_cont .subTitle_proj {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.container_banner {
  background: radial-gradient(74.08% 1695.93% at 12.04% 80.92%, rgba(175, 193, 255, 0.2) 0%, rgba(112, 0, 255, 0.2) 100%), linear-gradient(86.99deg, #BAC5FF 0.2%, #EFCDFF 99.48%);
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}
.container_banner img {
  max-width: 1620px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
  transform: translate(-250px, -404px);
}
.container_banner .frame_banner {
  max-width: 1220px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 30px;
  gap: 25px;
  z-index: 10;
}
.container_banner .frame_banner p {
  font-weight: 500;
  font-size: 58px;
  line-height: 110%;
  text-align: center;
}