* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
  color: #333333;
}

.bold_p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.container_preloader {
  display: flex;
  justify-content: center;
}

.sub_container_preloader {
  width: 26px;
}

.main {
  margin-top: 110px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .title_main {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  margin-bottom: 25px;
}
.main .container_main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 40px;
}
.main .container_main-1 .sub_cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.main .container_main-1 .sub_cont .title_cont {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
}
.main .container_main-1 .sub_cont .about_me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 16px;
  gap: 25px;
}
.main .container_main-1 .sub_cont .about_me .person_main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 30px;
  gap: 25px;
  width: 532px;
  height: 561px;
}
.main .container_main-1 .sub_cont .about_me .info_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 643px;
  height: 560px;
  background: #FFFFFF;
  border-radius: 16px;
}
.main .container_main-1 .sub_cont .about_me .info_main .container_info-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.main .container_main-1 .sub_cont .about_me .info_main .container_info-1 .info_p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.container_info-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.container_info-2 .container_info-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.container_info-2 .container_info-3 .container_info-dsgn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 584px;
  height: 26px;
}
.container_info-2 .container_info-3 .container_info-dsgn-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 584px;
}
.container_info-2 .container_info-3 .container_info-attr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: rgba(127, 118, 231, 0.05);
  border-radius: 16px;
  width: 584px;
}
.container_info-2 .container_info-3 .container_info-attr .info_p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: blue;
}

.container_person-inf {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.container_person-job {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.photo {
  width: 275px;
  height: 281px;
  overflow: hidden;
  border-radius: 16px;
}

.img_person {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 250%;
  margin-left: -115px;
  margin-top: -120px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(239, 239, 241);
}
.container .header {
  z-index: 15;
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 10px;
}
.container .header .header_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}
.container .header .header_about .header_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.container .header .header_about .header_cont:hover .header_inactive {
  background: rgba(127, 118, 231, 0.05);
}

.header_hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 45px;
  border-radius: 16px;
  background: rgba(127, 118, 231, 0.05);
  margin-bottom: 5px;
  transition: linear 0.1s;
}

.header_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 60px;
  height: 45px;
  background: rgba(127, 118, 231, 0.2);
  margin-bottom: 5px;
  transition: linear 0.1s;
}

.header_inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 60px;
  height: 45px;
  margin-bottom: 5px;
  transition: 0.05s;
}

.lottie_home {
  position: absolute;
  width: 60px;
  height: 45px;
  padding: 11px;
  padding-top: 6px;
  border-radius: 16px;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
}

.svg_head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
  border-radius: 16px;
  width: 172px;
  height: 115px;
  background: rgba(127, 118, 231, 0.05);
}
.job .job_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.job .job_type {
  font-weight: 500;
  font-size: 14px;
}
.job .job_p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.job .job_p .jop_p_bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}
.job .job_p .jop_p_light {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.container_person-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.container_person-2 .content_person {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;
  background: rgba(127, 118, 231, 0.05);
  border-radius: 8px;
  width: 275px;
  height: 40px;
}
.container_person-2 .content_person p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.portfolio_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.proj_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 15px;
  background: #FFFFFF;
  border-radius: 16px;
  transition: linear 0.15s;
  cursor: pointer;
}
.proj_area:hover {
  transform: translateY(-8px);
}
.proj_area img {
  border-radius: 16px;
  width: 530px;
}
.proj_area .proj_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 530px;
  border-radius: 16px;
  transition: linear 0.1s;
  z-index: 1;
}
.proj_area .proj_cont .title_proj {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.proj_area .proj_cont .subTitle_proj {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.lottie_proj {
  position: absolute;
  z-index: -1;
}

.container_banner {
  background: radial-gradient(74.08% 1695.93% at 12.04% 80.92%, rgba(175, 193, 255, 0.2) 0%, rgba(112, 0, 255, 0.2) 100%), linear-gradient(86.99deg, #BAC5FF 0.2%, #EFCDFF 99.48%);
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}
.container_banner img {
  max-width: 1620px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
  transform: translate(-250px, -404px);
}
.container_banner .frame_banner {
  max-width: 1220px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 30px;
  gap: 25px;
  z-index: 10;
}
.container_banner .frame_banner .p_banner {
  font-weight: 500;
  font-size: 58px;
  line-height: 110%;
  text-align: center;
}

.button_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 36px;
  background: #5C59FF;
  border-radius: 99px;
  cursor: pointer;
}

.title_button_banner {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.project_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
}
.project_container .cont_head_project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  background: #FFFFFF;
  border-radius: 16px;
  max-width: 585px;
}
.project_container .cont_head_project .head_project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}
.project_container .cont_head_project .head_project .title_project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.project_container .cont_head_project .head_project .title_project p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.project_container .cont_head_project .head_project .title_project .type_project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 26px;
  background: #F4B3B3;
  border-radius: 60px;
  font-size: 12px;
  cursor: pointer;
  transition: linear 0.1s;
}
.project_container .cont_head_project .head_project .title_project .type_project:hover {
  background: #f17979;
}
.project_container .cont_head_project .head_project .title_project .type_project_false {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 26px;
  background: #a3eeaf;
  border-radius: 60px;
  font-size: 12px;
  cursor: pointer;
  transition: linear 0.1s;
}
.project_container .cont_head_project .head_project .title_project .type_project_false:hover {
  background: #50e068;
}
.project_container .cont_head_project .head_project .proj_subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.foot_project {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 25px;
}
.foot_project .img_project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  z-index: 1;
  width: 378px;
  height: 260px;
  border-radius: 16px;
}
.foot_project .img_project img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
  width: auto;
  height: 250%;
}

.feat_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 122px;
  height: 260px;
}
.feat_main .feat_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.feat_main .feat_container .feat_project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 76px;
  background: rgba(127, 118, 231, 0.05);
  border-radius: 16px;
  cursor: pointer;
  transition: linear 0.1s;
}
.feat_main .feat_container .feat_project:hover {
  background: rgba(127, 118, 231, 0.2);
}

.feat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.feat p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
}

.feat_active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.feat_active p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  margin-left: 41px;
}

.lottie_project {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-right: 38px;
  width: 44px;
}

.svg_active_proj {
  display: none;
}

.svg_inactive_proj {
  display: block;
}

.modal_proj {
  position: absolute;
  transform: translate(134px, -92px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  padding: 15px;
  gap: 15px;
  width: 320px;
  border-radius: 16px;
  background: rgba(255, 128, 128, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.modal_proj .title_modal_proj {
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
}
.modal_proj .title_modal_proj p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.button_proj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;
  background: #5552FF;
  border-radius: 100px;
  cursor: pointer;
}

.title_button_proj {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}